:root {
  --color-background: #202325;
  --color-text-primary: #d2114f;
  --color-text-light: #fdfffe;
  
  /* Responsive */
  --container-padding: 1rem;        /* padding horizontal default */
  --container-padding-lg: 2rem;     /* padding horizontal pada layar besar */
  --container-max-xs: 540px;
  --container-max-sm: 720px;
  --container-max-md: 960px;
  --container-max-lg: 1140px;
  --container-max-xl: 1320px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-light);
}

nav {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  backdrop-filter: blur(10px);
  background-color: #20232588;
  z-index: 100;
}
nav>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav>div>div>ul {
  display: none;
  flex-direction: row;
  gap: 1rem;
}
nav>div>div>span {
  display: block;
  transform: rotate(90deg);
}
nav>div>div>ul>li {
  list-style-type: none;
}
nav>div>div>ul>li>a {
  text-decoration-line: none;
  color: var(--color-text-light);
}





/* hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.hero>div {
  flex: 1;
}
.hero-image-wrapper {
  width: 50%;
}
.hero-image-wrapper>img  {
  aspect-ratio: 1/1;
  width: 100%;
  filter: grayscale(100%);
  transition: .3s;
}
.hero-image-wrapper>img:hover {
  filter: grayscale(10%);
}
.hero>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4 rem;
}
.hero>div:nth-child(1)>.hero-image-wrapper {
  display: block;
  margin: 3rem auto;
  width: 80%;
}
.hero>div:nth-child(1)>.hero-image-wrapper>.decor-line-image{
  width: 100px;
}
.hero>div:nth-child(1)>.hero-image-wrapper>.decor-line-image::before{
  width: 100px;
}
.hero>div:nth-child(2) {
  display: none;
  justify-content: flex-end;
}


/* projects section */
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.project-wrapper {
  display: grid;
  gap: 3rem 2rem;
  padding-top: 50px;
  grid-template-columns: 1fr;
}
.project-card {
  display: block;
  background-color: #353637;
  color: var(--color-text-light);
  padding: 1rem;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}
.project-card>img {
  width: 100%;
  border-top-left-radius: 40px;
}
.project-card>div {
  margin: 10px 0 0px 0;
}
.project-badge {
  padding: 1px 4px;
  margin: 10px 0px;
  border-radius: 3px;
  background-color: var(--color-background);
}

/* footer */
footer {
  background-color: #353637;
  padding: 1rem 0;
  margin-top: 3rem;
}
footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decor-line-text {
  width: 50px;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 50px;
}
.decor-line-text::before {
  content: "";
  display: block;
  transform: translate(20px, 6px);
  width: 50px;
  height: 4px;
  border-radius: 50px;
  background-color: var(--color-text-primary);
}

.decor-line-image {
  width: 60px;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 50px;
}
.decor-line-image::before {
  content: "";
  display: block;
  transform: translate(20px, 6px);
  width: 60px;
  height: 4px;
  border-radius: 50px;
  background-color: var(--color-text-primary);
}




/* responsive container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-fluid {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0;
  box-sizing: border-box;
}


@media (min-width: 576px) {
  .project-wrapper { grid-template-columns: 1fr;}
}
@media (min-width: 768px) {
  .container { max-width: var(--container-max-sm); }
}
@media (min-width: 992px) {
  .container { max-width: var(--container-max-md); }
  .project-wrapper { grid-template-columns: 1fr;}
}
@media (min-width: 1200px) {
    nav>div>div>ul {
      display: flex;
    }
    nav>div>div>span {
      display: none;
    }
  .container { max-width: var(--container-max-lg); padding-left: var(--container-padding-lg); padding-right: var(--container-padding-lg); }
  .project-wrapper { grid-template-columns: 1fr 1fr;}
  .hero>div:nth-child(2) {
    display: flex
  }
  .hero>div:nth-child(1)>.hero-image-wrapper {
    display: none;
  }
  
  
}
@media (min-width: 1400px) {
  .container { max-width: var(--container-max-xl); }
  .project-wrapper { grid-template-columns: 1fr 1fr 1fr;}
}



/* Utilities */
.text-primary {color: var(--color-text-primary);}



