img {
  max-width: 100vw;
}
a {
  text-decoration-line: none;
}
* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}



nav {
  display: fixed;
  top: 0; left: 0;
  background-color: #ebdca3;
  width: 100vw;
  height: 4rem;
}

nav>div {
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
nav>div>div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav>div>div>img {
  height: 90%;
}
nav>div>div>ul {
  position: fixed;
  display: flex;
  background-color: brown;
  top: 0; left: 0;
  height: 100%;
  padding: 2.5rem;
  flex-direction: column;
  gap: 0.6rem;
}
nav>div>div>ul>li {
  list-style-type: none;
}
nav>div>div>ul>li>a {
  color: black;
}


/* utils */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary {
  background-color: #FFF;
  border-radius: 8px;
  padding: .7rem;
  border: 0px;
}



/* hp/default */
@media (min-width: 576px) {
}

/* tablet */
@media (min-width: 768px) {
  .container {max-width: 720px;}  
  
}

/* laptop */
@media (min-width: 992px){
  nav>div>div>div {
    display: none;
  }
  nav>div>div>ul {
    position: relative;
    height: auto;
    padding: 0;
    background-color: transparent;
    flex-direction: row;
  }
  .container {max-width: 960px;}  
}

/* pc */
@media (min-width: 1200px){
  .container {max-width: 1140px;}  
  
}
