:root {
  --color-primary: #FEF7E5; /* background utama */
  --color-primary-top: #F5DEBF; /* coklat muda */
  --color-secondary: #783B1E; /* coklat tua */

  --text-on-primary-top: #4A2A15; /* teks di atas warna coklat muda */
  --text-secondary: #FEF7E5; /* untuk background FEf7e5 */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary)
}
.container {
  width: min(1100px, 92%);
  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding: 4rem 0 4rem 0;
}

.content {
  background-color: var(--color-secondary);
  color: var(--text-secondary);
  padding: 1rem;
  overflow: hidden;
}



.content>.container>h3{
  text-align: center;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.project-card {
  box-shadow: 0 2px 10px rgba(0,0,0,0.09);
  display: block;
  aspect-ratio: 16 / 9;
  width: 500px;
  max-width: calc(60vw);
  transition: .2s;
  flex-direction: column;
  text-align: center;
  background-image: url('/assets/images/homepage-seen-computer-screen_23-2149416723.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


.card-content {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(1px);
  padding: 0.1rem;
  width: 100%;
  height: 100%;
  color: var(--text-secondary);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.25s ease;
}

.card-content.show {
  opacity: 1;
  transform: translateY(0);
}

.project-badge {
  background-color: var(--color-secondary);
}