* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


:root {
  --bg: #e0e5ec;
  --light: #ffffff;
  --dark: #b8bec7;
  --text: #4b5563;
}

body {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 0.85em;
  opacity: 0.7;
}

.container {
  width: 360px;
  padding: 24px;
}


.neu {
  background: var(--bg);
  border-radius: 18px;
  box-shadow:
    8px 8px 16px var(--dark),
    -8px -8px 16px var(--light);
  padding: 16px;
}

.neu:active {
  box-shadow:
    inset 6px 6px 12px var(--dark),
    inset -6px -6px 12px var(--light);
}

#music-image {
  background: var(--bg);
  box-shadow:
    inset 6px 6px 12px var(--dark),
    inset -6px -6px 12px var(--light);
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
#music-image>img {
  width: 100%;
  border-radius: 8px;
}

/* music info */
#music-info {
  margin-top: 12px;
  text-align: center;
}

#music-info h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

#music-info h4 {
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.7;
}

/* AUDIO TIME */
#audio-time {
  display: flex;
  justify-content: space-between;
  margin: 10px 4px;
}

/* lyric */
.lyric-wrapper {
  height: 63px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 12px 0;
  overflow-y: auto;
  padding: 8px;
  
}


#lyric li {
  color: #00000077;
 text-align: center;
  list-style: none;
  font-size: calc(16px * 90%);
  opacity: 0.7;
  margin-bottom: 4px;
}
.active {
    font-weight: bold;
    color: black;
}

/* progress bar */
#progress-container {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  margin: 6px 0 12px;
  background: var(--bg);
  cursor: pointer;
  box-shadow:
    inset 4px 4px 8px var(--dark),
    inset -4px -4px 8px var(--light);
}

#progress {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: #59595B;
}

/* control buttons */
.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 14px;
}

button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: var(--bg);
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  box-shadow:
    6px 6px 12px var(--dark),
    -6px -6px 12px var(--light);
}

button:active {
  box-shadow:
    inset 4px 4px 8px var(--dark),
    inset -4px -4px 8px var(--light);
}

/* toggle button */
#audio-toggle {
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
}